html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #F0EEE8;
    margin: 0px;
}

/* text styles */

h1{
  font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #213236;
}

h2{
  font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #666666;
}

p{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 18px;
    line-height: 26px;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: #C5502E;
  padding-bottom: 4px;
  font-size: 15px;
  font-weight: bolder;
}

/* page content */

  header {
    display: flex;
    align-items: baseline;
    /* justify-content: space-between; */
    top: 0;
    z-index: 2;
    position: sticky;
  }

  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background:rgba(108, 88, 88, 0.5);
    z-index: 4;
  }

  #navbar.collapsed{
    background:rgb(108, 88, 88);
    transition: all 0.5s ease-out;
  }

  .logo{
    width: 100px;
    height: 100%;
    padding: 30px 0;
  }

  #navbar.collapsed a{
    height: 60%;
  }

  #navbar.collapsed .logo{
    width: 80px;
    height: 100%;
    padding: 8px;
  }


  .hero{
    margin-top: 0px;
    height: 50vh;
    padding-left: 50vw;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center; /* center vertical */
    overflow: hidden;
    width: 100vw;
    z-index: 1;
  }

  .journey-jugs{
      margin: -50% -1% -7vh auto;
      width: 84vw;
      max-width: 500px;
      height: 100%;
  }

  .page-content{
    margin: 0px 13px 80px 13px;
    display: flex;
    flex-direction: column;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-text{
    margin-bottom: 60px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0px;
  }

  .form-section-text{
    margin-bottom: 40px;
  }

  .form-section-detail{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    margin-top: -14px;
  }

  form label{
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
    padding: 12px 15px;
    border-radius: 8px;
    background-color: #E7E1D9;
    border: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
  
  .fieldRow {
    display: flex;
    flex-direction: row;
    width:100%;
  }

  .city-state-zip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .field-city{
    flex-grow: 1;
    width: 100%;
    /* margin-right: 0px; */
  }

  .field-state{
    margin-right: 17px;
    width: calc(50% - 17px);
  }

  .field-zipcode{
    width: 50%;
  }

  .field-margin-right{
    margin-right: 17px;
    width: 100%;
  }

  .field-normal{
    width: 100%;
  }

  .shipping-information{
    margin-top: 34px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

  /* form states styling */

  ::placeholder{
    color: #92847B;
  }
  
  :focus{
    outline:none;
    border:1px solid #F26122;
  }
  
  /* :valid {
    border-left: initial;     
  } */
  
  /* input:invalid {
    border:2px solid #FF0000;    
  } */

  /* input:required,
  textarea:required {
    border-color: red !important;
  }
  input:required + label {
    color: red;
  } */

  button{
    background-color: #41A6B4;
    color: #FFFFFF;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    min-height: 48px;
  }

  .submit{
    max-width: 150px;
  }

  footer {
    height: 80px;
    background: #213236;
    width: 100vw;
  }
/* 
  #city{
    min-width: 40vw;
  }

  #state{
    width: 100%;
  }

  #zipcode{
    min-width: 23vw;
  } */

  @media only screen and (min-width: 768px) {
    .logo{
      width: 120px;
    }

    .hero {
      padding-left: 30%;
      height: 570px;
    }

    .journey-jugs {
      margin-top: -350px;
      top: 16vh;
      max-width: 570px;
      margin-bottom: -7vh;
    }
    
    .page-content{
      display: flex;
      justify-content: center;
  }

    .city-state-zip {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width:100%;
    }

    .field-city {
      margin-right:17px;
      width: calc(50% - 17px);
    }

    .field-state{
      width: calc(20% - 17px);
    }

    .field-zipcode{
      width: 30%;
    }
  }

  @media only screen and (min-width: 1024px) {

    .hero {
      padding-left: 10%;
    }

    .page-content{
      display: flex;
      flex-direction: row-reverse;
      margin: 80px auto;
      padding: 0 40px;
      max-width: 1200px;
  }

  .journey-jugs {
    position: sticky;
    position: -webkit-sticky;
    margin-top: -450px;
    max-width: 630px;
    width: 60%;
  }
}
