html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #F0EEE8;
    margin: 0px;
}

/* text styles */

h1{
  font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #213236;
}

h2{
  font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #666666;
}

p{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 18px;
    line-height: 26px;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: #C5502E;
  padding-bottom: 4px;
  font-size: 15px;
  font-weight: bolder;
}

/* page content */

  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    position: sticky;
  }

  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background:rgba(108, 88, 88, 0.5);
    z-index: 4;
  }

  .logo{
    width: 100px;
    height: 100%;
    padding: 30px 0;
  }

  .hero-image {
    display: flex;
    justify-content: center; /* center horizontal */
    padding-left: 90vw;
    align-items: center; /* center vertical */
    overflow: hidden;
    z-index: 1;
  }

  .hero{
    margin-top: 0px;
  }

  .journey-jugs{
      margin: -200px -10px 0 auto;
      width: 70vw;
      max-width: 500px;
      height: 100%;
  }

  .page-content{
    margin: 0px 13px 80px 13px;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 80px;
    background: #213236;
    width: 100vw;
  }

  .header-title{
      margin-top: -20px;
  }

  .intro-text{
    margin-bottom: 60px;
  }


  button{
    background-color: #41A6B4;
    color: #FFFFFF;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    min-height: 48px;
  }


  .form-section-text{
    margin-bottom: 40px;
  }


  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0px;
  }
  
  .fieldRow {
    display: flex;
    flex-direction: row;
    width:100%;
  }
  
  .fieldRow label{
    display: flex;
    flex-direction: column;
  }

  .field-margin-right{
    margin-right: 17px;
    width: 100%;
  }

  .field-normal{
    width: 100%;
  }

  input {
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
    padding: 12px 15px;
    border-radius: 8px;
    background-color: #E7E1D9;
    border: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  /* form states styling */

  ::placeholder{
    color: #92847B;
  }
  
  :focus{
    outline:none;
    border:1px solid #F26122;
  }
  
  :valid {
    /* box-shadow: -5px 0 lime;
    border-left: none;      */
  }
  
  :invalid {
    /* border:2px solid #FF0000;     */
  }

  /* input:required,
  textarea:required {
    border-color: red !important;
  }
  input:required + label {
    color: red;
  } */

  .shipping-information{
    margin-top: 34px;
  }

  .form-section-detail{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    margin-top: -14px;
  }

  #city{
    /* width:; */
  }

  #state{
    /* width: 16vw; */
  }

  .submit{
    max-width: 150px;
  }

  @media only screen and (min-width: 1024px) {
    .page-content{
      display: flex;
      flex-direction: column;
      margin-left: 30%;
      margin-right: 30%;
      max-width: 525px;
      /* width: 80vw; */
  }

  @media only screen and (min-width: 768px) {
    .logo{
      width: 170px;
    }
    
    .hero-image {
      padding-left: 0vw;
    }
    
    .page-content{
        display: flex;
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: auto;
        max-width: 1125px;
        width: 80vw;
    }

    .intro-content{
      max-width: 50vw;
      margin: 80px 4% auto auto;
    }

    .journey-jugs {
      position: sticky;
      position: -webkit-sticky;
      top: 170px;
      width: 50%;
    }
  }